allow fingerprintd elanfp_device:chr_file { read write ioctl open };
allow fingerprintd fingerprint_socket:file rw_file_perms;
allow fingerprintd gx_fpd:binder { transfer call };
allow fingerprintd init:unix_stream_socket connectto;
allow fingerprintd property_socket:sock_file write;
allow fingerprintd sysfs_fp:file rw_file_perms;
set_prop(fingerprintd, system_prop)

binder_call(fingerprintd, gx_fpd);
allow fingerprintd gx_fpd_service:service_manager find;
