allow wcnss_service dynamic_nv_data_file:dir r_dir_perms;
allow wcnss_service dynamic_nv_data_file:file r_file_perms;
allow wcnss_service persist_file:file { rw_file_perms setattr };
allow wcnss_service self:capability chown;
