# Copyright (c) 2013-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on init
	mkdir /sensorcab 0771 system system
	
on boot
	#start logd-catch service for catching logs into /storage/sdcard0/Logs
	chmod 777 /system/bin/logd-catch.sh
	chmod 777 /system/bin/apedata_mount.sh
#	start apedata_mount

#add by sunny.sang for tinno exp dump
on post-fs-data
	mkdir /data/tinnoexp 0771 system system
	
on property:persist.tinno.logd-catch.enable=true
	start logd-catch-all
	start logd-catch-radio
	start logd-catch-dmesg
	
on property:persist.tinno.logd-catch.enable=false
	stop logd-catch-all
	stop logd-catch-radio
	stop logd-catch-dmesg
  start logd-catch-trace

on property:persist.tinno.logd-catch.tcp=true
	start logd-catch-tcp
	
on property:persist.tinno.logd-catch.tcp=false
	stop logd-catch-tcp

service logd-catch-all /system/bin/sh /system/bin/logd-catch.sh all
	disabled
	oneshot

service logd-catch-radio /system/bin/sh /system/bin/logd-catch.sh radio
	disabled
	oneshot
	
service logd-catch-dmesg /system/bin/sh /system/bin/logd-catch.sh dmesg
	disabled
	oneshot
	
service logd-catch-tcp /system/bin/sh /system/bin/logd-catch.sh tcp
	disabled
	oneshot
	
service logd-catch-trace /system/bin/sh /system/bin/logd-catch.sh trace
	disabled
	oneshot
		
# bugreport is triggered by holding down volume down, volume up and power
#service tinno_bugreport /system/bin/dumpstate -d -p -o /storage/sdcard0/Logs/BugreportLogs/bugreport
service tinno_bugreport /system/bin/sh /system/bin/logd-catch.sh bgr
    	class main
    	disabled
    	oneshot
    	keycodes 114 115 116

# mount apedata partition
service apedata_mount /system/bin/apedata_mount.sh
	disabled
    	oneshot

# modem log
service modem_log /system/bin/diag_mdlog -t
	disabled
	user root
	group log system sdcard_rw
  oneshot
  
service modem_log_stop /system/bin/diag_mdlog -k
	disabled
	user root
	group log system sdcard_rw
  oneshot

on property:persist.tinno.log.modem=true
	start modem_log
	
on property:persist.tinno.log.modem=false
	start modem_log_stop
  
#adb root   	
on property:persist.tinno.debug=*
    write /sys/class/android_usb/android0/enable 0
    restart adbd    
    write /sys/class/android_usb/android0/enable 1
    
on property:persist.tinno.cts=1
    write /proc/sys/fs/suid_dumpable 0

service ss_ramdump2 /system/bin/subsystem_ramdump 2
    class main
    #user system
    group system sdcard_rw media_rw
    disabled

on property:persist.sys.ssr.enable_ramdumps=2
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    start ss_ramdump2

#add by sunny.sang for tinno exp dump
service tinno_exp /system/bin/exp-log.sh
    user root
    group root
    disabled
    seclabel u:r:tinno_exp:s0

on property:persist.tinno.excption.dump=true
    start  tinno_exp

#TINNO:add by sunny.sang for tinno coredump
# corefile limit
on property:persist.debug.trace=1
    write /proc/sys/fs/suid_dumpable 1
    write /proc/sys/kernel/core_pattern "/data/tinnoexp/coredump_%E.pid%p.%e"

#end add by sunny.sang for tinno exp dump

#TINNO:add by sunny.sang for audio dump
service audio_dump /system/bin/sh /system/bin/tinno_audio_dump.sh
    disabled
    oneshot
